
html{
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

h1{
    font-size: x-large;
}

th {
    border-bottom: 3px double gray;
    padding: 0.5em 1em;         
}

td {
    border-top: 1px solid gray;
    padding: 0.5em 1em;                  
}
 
caption {
    text-align: start;
    font-weight:bold;
    font-size: x-large;
}
 
table {
    border-collapse:  collapse;  
    border-spacing:  5px;    
    width:90%;
}


.controller {
    margin: 1em;   
}

.controllerHeader{
}

.controllerValues {
    display: flex;
}

.buttons {
    flex: 1;
}

.axes {
    flex: 1;
}